build/
build-*/
out/
.vs/
.vscode/
.idea/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
*.vcxproj*
*.sln
*.suo
*.user
*.obj
*.pdb
*.idb
*.ilk
*.exp
*.lib
*.exe
*.dll
Debug/
Release/
x64/
x86/
.cache/
compile_commands.json
